NODE_ENV=developmentPORT=3000BASE_URL=http://localhost:3000/DB_URI=mongodb://localhost:27017/node-shopEMAIL_HOST=EMAIL_PORT=EMAIL_USER=EMAIL_PASSWORD=JWT_SECRET_KEY=apscjdvpiojvwprgjmwnocsmndoni4r3on3fJWT_EXPIRE_TIME=100000000STRIPE_SECRET=STRIPE_WEBHOOK_SECRET=